<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DictionaryProjectMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@300;400;500&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light text-white  box-shadow customize-navbar mb-3 mt-3">
            <div class="container-fluid">
                <a class="navbar-brand customize-icon" href="#">
                    <div class="d-flex align-items-center">
                        <img asp-append-version="true" class="dictionary-logo" src="~/Images/DictionaryIcon.jpg">
                        <div class="title">VocabVault</div>
                    </div>

                </a>

                <div class="login-history-btn ml-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="user-name d-flex align-items-center text-dark">
                            <i class="fa-solid fa-user"></i>
                            <div class="ms-2">

                                @User.Identity.Name
                            </div>
                        </div>
                        <div class="nav-item">
                            <a class="button nav-link history-button text-light" asp-controller="user" asp-action=@nameof(UserController.History)>
                                History
                            </a>
                        </div>
                        <form asp-controller="user" asp-action=@nameof(UserController.Logout) method="post">
                            <div class="login-register-btn ml-auto">
                                <div class="nav-item">
                                    <button type="submit" class="button nav-link">  Logout</button>
                                </div>
                            </div>
                        </form>

                    }
                </div>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between text-white">
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
