<h3>An occured while processing your request.
    The support team is notified and we are working on the fix
</h3>
<h5>Please Contact us on tanisha@gmail.com</h5>
<a class="btn btn-outline-success" asp-controller="home" asp-action=@nameof(HomeController.Index)>
    Click here to navigate to the home page
</a>