@{
    Layout = "_NewLayout";
    ViewBag.Title = "Home Page";
}

<div class="row m-3 index-image-container">
    <img asp-append-version="true" class="index-search-image" src="~/Images/indexSearchImage.png" />
</div>